<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Delivery App</title>
	<style type="text/css">
		body
		{
			background: url("");
			background-size: cover;
			text-align: center;
			background-color: pink;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: 200px;
		}
		h1
		{
			font-family: "Georgia";
			color: black;
		}
		.container
		{
			height: 300px;
			width: 700px;
			/*background-color: white;*/
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Hello!! You've logged in as an admin!!</h1>
		<h2>Admin privileges:</h2>
		<a href="/addhotel">Add a restaurant</a><br><br>
		<a href="/removehotel">Remove a restaurant</a><br><br>
		<a href="/vieworders">View user orders</a>
	</div>
</body>
</html>
